.clear
{
	clear: both;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

img
{
	max-width: 100%;
}

.container
{
	width: 1000px;
	margin: 50px auto 0px;
}

#divDetailPoster
{
	width: 150px;
	float: left;
}

.divDetailInfo
{
	float: left;
	width: 820px;
	margin-left: 30px;
}


h3
{
	margin: 0px;
}

#tblRatings
{
	width: 100%;
}

#pWebsite
{
	width: 100%;
	text-align: center;
}