 @import url('https://fonts.googleapis.com/css?family=Ubuntu');

.clear
{
	clear: both;
}

img
{
	max-width: 100%;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body
{
	background-color: #D6C6B5;
    font-family: 'Ubuntu', sans-serif;
}

.container
{
	width: 100%;
}

.container::after
{
	clear: both;
}

.divSearchSide
{
	float: left;
	width: 35%;
}

.divDetailSide
{
	width: 60%;
	float: right;
}

form input
{
	width: 40%;
	height: 30px;
	border-radius: 5px;
}

#btnSearch
{
	width: 50px;
	height: 30px;
	border-radius: 5px;
}

ul > li > div
{
	border : 1px solid gray;
	margin-top: 5px;
	background-color: #4A443E;
	border-radius: 7px;
}

#listResult
{
	width: 100%;
	list-style-type: none;
	padding: 0px;
}

.divPoster
{
	width: 20%;
	float: left;
}

.divPoster img 
{
	max-width: 100%;
	border-radius: 5px;
}

.divInfo
{
	float: left;
	padding-left: 10px;
}

.divInfo h2
{
	color: #968B7F;
	border-bottom: 1px solid #968B7F;
	margin-top: 0px;
	margin-bottom: 0px;
}

.divInfo td
{
	margin: 0px;
	color: #D6C6B5;
}

td a
{
	font-size: 15px;
	color: yellow;
}

/* Detail sayfası */

#divDetailPoster
{
	width: 20%;
	float: left;
}

.divDetailInfo
{
	width: 75%;
	float: left;
	margin-left: 10px;
}

h3
{
	margin: 0px;
}

#tblRatings
{
	width: 100%;
}

#pWebsite
{
	width: 100%;
	text-align: center;
}